@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Karma', sans-serif;
}
.slider{
  animation: slide 30s infinite linear;
}

@keyframes slide {
  0%{
    margin-left: 0;
  }
  20%{
    margin-left: 0;
  }
  25%{
    margin-left: -100%;
  }
  45%{
    margin-left: -100%;
  }
  50%{
    margin-left: -200%;
  }
  70%{
    margin-left: -200%;
  }
  75%{
    margin-left: -300%;
  }
  95%{
    margin-left: -300%;
  }
  100%{
    margin-left: -400%;
  }
}

.slider-indicator{
  animation: slider-indicator-btn 30s infinite linear;
}

@keyframes slider-indicator-btn {
  0%{
    transform: translateX(calc(3rem * 0));
  }
  20%{
    transform: translateX(calc(3rem * 0));
  }
  25%{
    transform: translateX(calc((3rem + 0.75rem) * 1));
  }
  45%{
    transform: translateX(calc((3rem + 0.75rem) * 1));
  }
  50%{
    transform: translateX(calc((3rem + 0.75rem) * 2));
  }
  70%{
    transform: translateX(calc((3rem + 0.75rem) * 2));
  }
  75%{
    transform: translateX(calc((3rem + 0.75rem) * 3));
  }
  95%{
    transform: translateX(calc((3rem + 0.75rem) * 3));
  }
  100%{
    transform: translateX(calc((3rem + 0.75rem) * 4));
  }
}


@media screen and (max-width: 1024px) {
  .slider-indicator{
    animation: slider-indicator-btn 30s infinite linear;
  }
  
  @keyframes slider-indicator-btn {
    0%{
      transform: translateX(calc(2rem * 0));
    }
    20%{
      transform: translateX(calc(2rem * 0));
    }
    25%{
      transform: translateX(calc((2rem + 0.75rem) * 1));
    }
    45%{
      transform: translateX(calc((2rem + 0.75rem) * 1));
    }
    50%{
      transform: translateX(calc((2rem + 0.75rem) * 2));
    }
    70%{
      transform: translateX(calc((2rem + 0.75rem) * 2));
    }
    75%{
      transform: translateX(calc((2rem + 0.75rem) * 3));
    }
    95%{
      transform: translateX(calc((2rem + 0.75rem) * 3));
    }
    100%{
      transform: translateX(calc((2rem + 0.75rem) * 4));
    }
  }
}

.sliding-text{
  animation: slidetext 30s infinite linear
}

@keyframes slidetext {
  0%{
    margin-left: 0;
  }
  20%{
    margin-left: 0;
  }
  25%{
    margin-left: -100%;
  }
  45%{
    margin-left: -100%;
  }
  50%{
    margin-left: -200%;
  }
  70%{
    margin-left: -200%;
  }
  75%{
    margin-left: -300%;
  }
  95%{
    margin-left: -300%;
  }
  100%{
    margin-left: -400%;
  }
}

.sm-btn, .contact-btn{
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0,0,0,0.35),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  inset 5px 5px 15px rgba(0,0,0,0.35);
}